<table width="450" height="28" align="center" cellpadding="0" cellspacing="0" >
	<tr><td>
			<table class="toptable" >
				<tr>
					<th>
						<a href="{BACKPAGE}">
							<img src="../imagenes/arrow_btn.png" border="0" style="margin-right:3px;" /></a>
					</th>  
					<td style="text-align:center; vertical-align:middle;">En Esta Secci&oacute;n Podr&aacute;s Consultar tus Datos Personales</td>
				</tr>
			</table></td>
	</tr>
	<tr><td>
			<table class="userinfo">
				<tr><td>Mis Datos: {USERNAME}</td>
				</tr>
			</table>
			
			<tr><td>
					<table style="width:100%;" cellspacing="0">
						<tr class="odd">
							<th style="width:150px;">Nombre:
							</th><td>{USERNAME}</td>
						</tr>
						<tr class="common">
							<th>Email:
							</th><td>{EMAIL}</td>
						</tr>
						<tr class="odd">
							<th>Login:
							</th><td>{LOGIN}</td>
						</tr>
						<tr class="common">
							<th>Password:
							</th><td>{PASSWORD}</td>
						</tr>
						<tr class="odd">
							<th>Administrador Asignado:
							</th><td>{SUPPADMIN}</td>
						</tr>
					</table>
					<table class="bottmspacer">
						<tr><td></td>
						</tr>
					</table>
					
					<table style="width:100%;" cellpadding="0" cellspacing="0">	  
						<tr>	  
							<td class="btnspacer">&nbsp;</td>	  
						</tr>
					</table><br><br>