<script>
function verUsuarios(selObj){
	tipo=selObj.options[selObj.selectedIndex].value;
	if(tipo>0){
	var contenedor;
	location.href='userAdmin.php?mode=' + tipo;
	 }
}</script>
<!-- Esta tabla contiene el menu y su linea roja inferior -->
<table width="959" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="panelControl">Panel de Control</td>
		<td class="menuTd">{MENU}</td>
		<td class="sectionName">Secci&oacute;n Usuarios</td>
	</tr>
	<tr>
		<td bgcolor="{LIGHTCOLOR}" height="6" colspan="3"></td>
	</tr>
</table>
<!-- Aqui se termina el menu y la linea -->
<table width="957" height="550" align="center" class="blurbackg">
	<tr height="80">
		<td></td>
	</tr>
	<tr>
		<td> 
			<!-- Aqui debe ir el contenido principal -->
			<table width="550" height="28" align="center" cellpadding="0" cellspacing="0" >
				<tr><td>{CONTENT} <br /><br /><br /></td>
				</tr>
				<tr height="40"><td>&nbsp;</td>
				</tr>
			</table><br />
		</td>
	</tr>
</table>
			<!-- Aqui se termina el contenido principal -->