<form method="post" name="Form1" action="functions/workuser.php">
<table width="450" height="28" align="center" cellpadding="0" cellspacing="0" >
<tr><td>

<table class="toptable" ><tr><th>
<a href="userAdmin.php"><img src="../imagenes/arrow_btn.png" border="0" style="margin-right:3px;" /></a></th>
  <td>En esta seccion podr&aacute;s consultar a tus clientes.</td>
</tr></table>

</td></tr>
<tr><td>

<table class="userinfo">
<tr><td>Detalle de usuario usuario: </td></tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0">
<tr class="odd">
<th>&nbsp;&nbsp;Nombre:</th>
<td align="center" colspan="2">
<input type="text" size="35" name="username" value="{USERNAME}"></td>
</tr>
<tr class="common">
<th>&nbsp;&nbsp;Email:</th>
<td align="center" colspan="2">
<input type="text" size="35" name="email" value="{EMAIL}"></td>
</tr>
<tr class="odd">
<th>&nbsp;&nbsp;Login:</th>
<td align="center" colspan="2">
<input type="text" size="35" name="login" value="{LOGIN}"></td>
</tr>
<tr class="common">
<th>&nbsp;&nbsp;Password:</th>
<td align="center" colspan="2">
<input type="text" size="35" name="password" value="{PASSWORD}"></td>
</tr>
<tr class="odd">
<th>&nbsp;&nbsp;Perfil de Usuario:</th>
<td align="center" colspan="2">
&nbsp;&nbsp;&nbsp;&nbsp;{PROFILE}&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr class="common">
<th>&nbsp;&nbsp;Administrador Asignado:</th>
<td align="center" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;{SUPPADMIN}&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr class="odd">
<th>&nbsp;&nbsp;Tipo de Cliente:</th>
<td align="center" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;{TYPENAME}&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<input type="hidden" name="redirect" />
<input type="hidden" name="userid" value="{USERID}" />
<input type="hidden" name="selectedc" value="{SELECTEDC}"</td>
</table>

<table class="bottmspacer">
<tr><td></td></tr>
</table>
<table style="width:100%;">
	  <tr>	  
	  <td class="btnspacer"></td>
	  <td class="rightbtn">	  
	  <a href="javascript:sendForm(5)">Actualizar </a></td>
	  </tr>
</table>

</td></tr></table>
</form>
