
<table width="100%" height="28" align="center" cellpadding="0" cellspacing="0" >
	<tr><td>
			<table width="100%" class="toptable" cellpadding="0" cellspacing="0" >
				<tr>
					<th>
						<a href="{BACKPAGE}">
							<img src="../imagenes/arrow_btn.png" border="0" style="margin-right:3px;" /></a>
					</th>  
					<td style="vertical-align:middle; text-align:center;">En Esta Secci&oacute;n Podr&aacute;s Consultar a los Usuarios que Pueden Administrar el Panel de Control</td>
				</tr>
			</table></td>
	</tr>
</table>

<table width="100%" class="userinfo">
	<tr><td>&nbsp;</td>
	</tr>
</table>

<table cellpadding="0" cellspacing="0" align="center">
	  <tr>
		<td class="btnspacer" style="width:410px;"></td>
		<td class="rightbtn"><a href="userForm.php?mode=add&type={TYPE}&level={LEVEL}">Agregar</a></td>
	  </tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" align="center">	
	<tr>		
		<td class="smalltitle" style="width:164px;">Usuario</td>		
		<td style="width:1px;"></td>		
		<td class="smalltitle" style="width:220px;">Nombre</td>		
		<td style="width:1px;"></td>		
		<td class="smalltitle" style="width:164px;">Nivel</td>	
	</tr>
</table>