<tr class="{ROWCOLOR}">

<td class="newscommon" style="width:15px;"><a href="clientesform.php?mode=edit&clienteid={CLIENTEID}"><div align="center">{CLIENTEID}</center></a></td>
<td class="newscommon" style="width:89px;"><a href="clientesform.php?mode=edit&clienteid={CLIENTEID}"><div align="center">{CODIGO}</center></a></td>
<td class="newscommon" style="width:145px;"><a href="clientesform.php?mode=edit&clienteid={CLIENTEID}">{NOMBRE}</a></td>
<td class="newscommon" style="width:104px;"><a href="clientesform.php?mode=edit&clienteid={CLIENTEID}">{RFC}</a></td>

</tr>