<script src="validation.js" type="text/javascript"></script>
<!-- Esta tabla contiene el menu y su linea roja inferior -->
<table width="959" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="panelControl">Panel de Control</td>
		<td class="menuTd" >{MENU} </td>
		<td class="sectionName">Secci&oacute;n Reportes</td>
	</tr>
	<tr>
		<td bgcolor="{LIGHTCOLOR}" height="6" colspan="3"></td>
	</tr>
</table>
<!-- Aqui se termina el menu y la linea -->
<table width="957" height="600" align="center" class="blurbackg">
	<tr height="90">
		<td></td>
	</tr>
	<tr>
		<td> 
			<form name="parametros" id="parametros" method="post" action="reporte.php" target="_blank">
			<table width="600" align="center" cellpadding="0" cellspacing="0" >
				<tr>
					<td valign="top">
						<table class="toptable">
							<tr>
								<th>
									<a href="../index.php"><img src="{DIR}imagenes/arrow_btn.png" border="0" style="margin-right:3px;" /></a>
								</th>  
								<td style="vertical-align:middle; text-align:center;">  En Esta Secci&oacute;n Podr&aacute;s Acceder a Diferentes Reportes</td>
							</tr>
						</table>
						{REPORTE1}
			</table></form>
			<p>&nbsp;</p>
			<form name="parametros2" id="parametros2" method="post" action="reporte2.php" enctype="multipart/form-data" target="_blank">
				{REPORTE2}
			</form>
			<form name="parametros3" id="parametros3" method="post" action="reporte3.php" target="_blank">
				{REPORTE3}
			</form>
					  
			 <form name="parametros4" id="parametros4" method="post" action="reporte4.php" target="_blank">
				{REPORTE4}
			 </form>
			 
			 <form name="parametros5" id="parametros5" method="post" action="reporte5.php" target="_blank">
				{REPORTE5}
			 </form>
        </td>
	</tr>
	<tr height="100"><td>&nbsp;</td>
	</tr>
</table>