<tr class="{ROWCOLOR}">

        <td class="newscommon" style="width:104px;">
                <a href="unitsform.php?mode=edit&unidadID={UNIDADID}"><div align="center">{UNIDADID}</center>
                </a>
        </td>
        
        <td class="newscommon" style="width:145px;">
                <a href="unitsform.php?mode=edit&unidadID={UNIDADID}"><div align="center">{NUMECO}</center>
                </a>
        </td>
        
        <td class="newscommon" style="width:104px;">
                <a href="unitsform.php?mode=edit&unidadID={UNIDADID}"><div align="center">{PLACAS}</center>
                </a>
        </td>

</tr>