<script language="javascript">

var clBackgNormal = 'White';
var clForegNormal = 'Black';
var clBackgHigh   = '#FFF1A8';
var clForegHigh   = 'Black';

function Trim( str ) 
{
	var resultStr = str;
	resultStr = resultStr.replace( /^\s*|\s*$/g, "" ); 	
	return resultStr;
}

function ismaxlength(obj){
	var mlength=obj.getAttribute? parseInt(obj.getAttribute("maxlength")) : ""
	if (obj.getAttribute && obj.value.length>mlength)
		obj.value=obj.value.substring(0,mlength)
}

function validate(val)
{
	document.forms.Form1.unidadid.style.background = clBackgNormal;
	document.forms.Form1.folio.style.background = clBackgNormal;
  
	   	   
	if( Trim( document.forms.Form1.folio.value ) == "" )
	{
		document.forms.Form1.folio.style.background = clBackgHigh;
		document.forms.Form1.folio.style.color = clForegHigh;   
		alert('Debes Especificar un Folio');
	}	   
	else if( Trim( document.forms.Form1.unidadid.value ) == 0 )
	{
		document.forms.Form1.unidadid.style.background = clBackgHigh;
		document.forms.Form1.unidadid.style.color = clForegHigh;   
		alert('Debes Seleccionar un Cliente, Taller y Unidad');
	}
	else
	{
		document.forms.Form1.redirect.value = val;
		document.forms.Form1.submit( val ); 
	}
}	

function agregar_tecnico(){
	    var contenedor;
		contenedor = document.getElementById('tecnicos_div');
		
		tecnicoid = document.getElementById('tecnicoid').value;
		
		ajax = nuevoAjax();
		ajax.open( "GET", "cargartecnicos.php?tecnicoid=" + tecnicoid, true );
		ajax.onreadystatechange = function() 
		{	
			if ( ajax.readyState == 4 ) 
			{
				contenedor.innerHTML = ajax.responseText
			}
			else
			{
				contenedor.innerHTML = "... Cargando ...";
			}
		}
		ajax.send( null); 
	}
	
function agregar_articulo(){
	    var contenedor;
		contenedor = document.getElementById('refacciones_table');
		
		cantidad = document.getElementById('cantidad_art').value;
		articuloid = document.getElementById('refaccionid').value;
		
		ajax = nuevoAjax();
		ajax.open( "GET", "cargararticulos.php?cantidad=" + cantidad + "&articuloid=" + articuloid, true );
		ajax.onreadystatechange = function() 
		{	
			if ( ajax.readyState == 4 ) 
			{
				contenedor.innerHTML = ajax.responseText
			}
			else
			{
				contenedor.innerHTML = "... Cargando ...";
			}
		}
		ajax.send( null); 
	}
</script>


<form name="Form1" method="post" enctype="multipart/form-data" action="functions/workorders.php?mode={MODE}">
<table class="toptable"><tr><th>
<a href="javascript:history.back();"><img src="../imagenes/arrow_btn.png" border="0" style="margin-right:3px;" /></a></th>
  <td style="vertical-align:middle; text-align:center;">En Esta Secci&oacute;n Podr&aacute;s Registrar Una Nueva Orden de Reparaci&oacute;n</td>
</tr></table>

<table class="userinfo">
<tr>
  <td>Agregando Nueva Orden</td>
</tr>
</table>

<table width="700" align="center" cellpadding="0" cellspacing="0">
<tr class="oddn">
<th style="width:150px;"># de orden: 
  <input type="hidden" name="redirect" id="redirect" /></th>
<td align="left" bgcolor="#bbbbbb"><input name="numeroshow" type="text" id="numeroshow" value="{NEWID}" size="10" disabled="disabled" style="text-align:right; font-weight:bolder"/>
  <input name="numero" type="hidden" id="numero" value="{NEWID}" /></td>
</tr>
<tr class="commonn">
<th>Folio de la orden: </th>
<td><label>
  <input type="text" name="folio" id="folio" />
</label></td>
</tr>
<tr class="oddn">
  <th># de factura:</th>
  <td><input type="text" name="factura_num" id="factura_num" /></td>
</tr>
<tr class="commonn">
<th>Cliente: </th>
<td bgcolor="#bbbbbb"><label>
  <select name="clienteid" id="clienteid" onchange="cargartalleres(this.value);">
  <option value="0">- SELECCIONAR -</option>
  {CLIENTESBOX}
  </select>
</label></td>
</tr>
<tr class="oddn">
<th>Taller: </th>
<td class="txt">
  <div id="talleres_div">
    <select name="tallerid" id="tallerid"  onchange="cargarunidades(this.value);">
  <option value="0">- SELECCIONAR -</option>      
    </select>
    </div>
</td></tr>
<tr class="commonn">
  <th>Unidad:</th>
  <td class="txt"><div id="unidades_div">
    <select name="unidadid" id="unidadid">
      <option value="0">- SELECCIONAR -</option>      
        </select>
        </div>
  </td>
</tr>

<tr class="oddn">
<th>Fecha de orden: </th>
<td class="txt"><input name="date1" id="date1" type="text" value="{FECHARESERVA}" readonly="readonly" /><a href="#" name="anchor1" title="Abrir calendario" class="Estilo2" id="anchor1" onclick="return showCalendar('date1', '%Y-%m-%d');"><img src="../imagenes/calendario.gif" width="19" height="16" border="0"/></a></td>
 </tr>
 
 <tr class="commonn">
<th>Hora de orden: </th>
<td class="txt"><label>
  <select name="horas" id="horas">{HORAS}
  </select>
</label>
:
<label>
<select name="minutos" id="minutos">{MINUTOS}
</select>
</label></td>
 </tr>

 <tr class="oddn">
   <th>Operador:</th>
   <td align="left" bgcolor="#bbbbbb"><label>
     <input type="text" name="operador" id="operador" />
   </label></td>
 </tr>
 <tr class="commonn">
<th>Reporta: </th>
<td align="left" bgcolor="#bbbbbb"><label>
<textarea name="reporta" id="reporta" cols="45" rows="5"></textarea>
</label></td>
</tr>
<tr class="oddn">
  <th>Tiempo estimado: </th>
  <td align="left">
    <select name="horas2" id="horas2">
    {HORAS}
    </select>
:
<select name="minutos2" id="minutos2">
{MINUTOS}
</select>
</td>
</tr>
<tr class="commonn">
  <th>Tiempo real:</th>
  <td align="left">
    <label>
    <select name="horas3" id="horas3">
    {HORAS}
    </select>
    </label>
:
<label>
<select name="minutos3" id="minutos3">
{MINUTOS}
</select>
</label>
  </td>
</tr>
<tr class="oddn">
  <th>T&eacute;cnicos:</th>
  <td align="left">
  <select name="tecnicoid" id="tecnicoid">
      {TECNICOS}  
  </select>
  <input type="button" name="agregar_tec" id="agregar_tec" value="Agregar" onclick="agregar_tecnico();"/><br/>
  <div id="tecnicos_div" align="center" style="text-align:center;"></div></td>
</tr>
<tr class="commonn">
  <th>Tipo de mantenimiento:</th>
  <td align="left">
  <select name="mantenimientoid" id="mantenimientoid">
      {MANTENIMIENTOS}  
  </select>
  </td>
</tr>
<tr class="oddn">
  <th>Refacciones:</th>
  <td align="left">
    <select name="cantidad_art" id="cantidad_art">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
        </select>
    <b id="producto_label">  </b> &nbsp;
    <input type="hidden" name="refaccionid" id="refaccionid"/>
    <input type="text" name="articulo_name" id="articulo_name"/>
    <a href="search.php" target="_blank"  onClick="window.open(this.href, this.target, 'width=600,height=400'); return false;">Buscar producto</a>
    
    <input type="button" name="agregar" id="agregar" value="Agregar" onclick="agregar_articulo();"/><br/>
  <div id="refacciones_table">
    <table width="100%" border="1">
      <tr>
        <td><div align="center"><strong>Cantidad</strong></div></td>
        <td><div align="center"><strong>Refacci&oacute;n</strong></div></td>
        <td><div align="center"><strong>Precio</strong></div></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4"><div align="center">No existen refacciones actualmente</div></td>
      </tr>
    </table>
  </div></td>
</tr>
<tr class="commonn">
  <th>Observaciones:</th>
  <td align="left"><label>
    <textarea name="observaciones" id="observaciones" cols="45" rows="5"></textarea>
  </label></td>
</tr>
<tr class="oddn">
  <th>Indicaciones adicionales:</th>
  <td align="left"><textarea name="indicaciones" id="indicaciones" cols="45" rows="5"></textarea></td>
</tr>
<tr class="commonn">
  <th>Trabajos realizados:</th>
  <td align="left"><label>
    <textarea name="trabajos" id="trabajos" cols="45" rows="5"></textarea>
  </label></td>
</tr>
</table>

<table class="bottmspacer">
<tr><td></td></tr>
</table>

<table style="width:100%;" cellpadding="0" cellspacing="0" align="center">
	  <tr>	  
		  <td class="btnspacer" style="width:558px;"></td>
		  <td class="rightbtn"><a href="javascript:validate(0);">Agregar </a></td>
	  </tr>
</table>

</form>
