			<table width="450" align="center" cellpadding="0" cellspacing="0" >
				<tr>
					<td valign="top">
						<table class="toptable">
							<tr>
								<th>
									<a href="../index.php">
										<img src="{DIR}imagenes/arrow_btn.png" border="0" style="margin-right:3px;" /></a>
								</th>  
								<td style="vertical-align:middle; text-align:center;">  En Esta Secci&oacute;n Podr&aacute;s Consultar los Clientes Registrados</td>
							</tr>
						</table>
						<table class="userinfo">	
							<tr>
							  <td>Viendo Listado de Clientes</td>
							</tr>
						</table>
						
						<table style="width:100%;" cellpadding="0" cellspacing="0" align="center">		  
							<tr>	   		  
								<td class="btnspacer" width="508"></td>		  
								<td class="rightbtn">
									<a href="clientesform.php?mode=add">Agregar </a></td>		  
						  </tr>	
						</table>
						
						<table style="width:100%;" cellspacing="0" cellpadding="0" align="center">	
							<tr>		
                                <td class="smalltitle" style="width:43px;">N&uacute;mero</td>		
                                <td style="width:1px;"></td>
                                <td class="smalltitle" style="width:120px;">C&oacute;digo</td>		
                                <td style="width:1px;"></td>		
                                <td class="smalltitle" style="width:220px;">Nombre</td>		
                                <td style="width:1px;"></td>		
                                <td class="smalltitle" style="width:164px;">RFC</td>	
							</tr>
						</table>
						<table width="650" align="center" cellpadding="0" cellspacing="0">{CONTENT} 	
							<table class="bottmspacer">		
								<tr><td>{PAGING}</td>
								</tr>	
							</table>	
							<table style="width:100%;" cellpadding="0" cellspacing="0" align="center">		  
								<tr>	   		  
									<td class="btnspacer" width="508"></td>		  
									<td class="rightbtn">
										<a href="clientesform.php?mode=add">Agregar </a></td>		  
								</tr>	
							</table>
						</table><br /><br /><br /></td>
				</tr>
				<tr height="40"><td>&nbsp;</td>
				</tr>
			</table>             