<tr class="{ROWCOLOR}">

        <td class="newscommon" style="width:104px;">
                <a href="{LINK}"><div align="center">{UNIDADID}</div>
                </a>
        </td>
        
        <td class="newscommon" style="width:145px;">
                <a href="{LINK}"><div align="center">{NUMECO}</div>
                </a>
        </td>
        
        <td class="newscommon" style="width:104px;">
                <a href="{LINK}"><div align="center">{PLACAS}</div>
                </a>
        </td>

</tr>