<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Sistema Refriservicio y Aire Acondicionado para el Transporte</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{DIR}stylesheets.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{DIR}imagenes/favicon.ico" type="image/x-icon">
<link rel="icon" href="{DIR}imagenes/favicon.ico" type="image/x-icon">
<script type="text/javascript" src="{DIR}config/formcheck/mootools-core.js"></script>
<script type="text/javascript" src="{DIR}config/formcheck/mootools-more.js"></script>
<script type="text/javascript" src="{DIR}config/formcheck/lang/es.js"></script>
<script type="text/javascript" src="{DIR}config/formcheck/formcheck.js"></script>
<link rel="stylesheet" href="{DIR}config/formcheck/theme/classic/formcheck.css" type="text/css" media="screen" />
<script src="{DIR}config/js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="{DIR}config/js/interface.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="{DIR}calendario/skins/aqua/theme.css" title="Aqua"/>
<script type="text/javascript" src="{DIR}calendario/calendar.js"></script>
<script type="text/javascript" src="{DIR}calendario/lang/calendar-es.js"></script>
<script src="{DIR}config/js/actionCalendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{DIR}config/js/header.js"></script>
<link href="{DIR}config/estilos/estilos.css" rel="stylesheet" type="text/css">
</head>
<body>
	<table width="957" cellpadding="0" cellspacing="0" align="center">
		<tr >
			<td height="100">
				<img src="{DIR}imagenes/header2.jpg" usemap="#Maphead" border="0" width="957" height="100">
			</td>
		</tr>
		<tr>
			<td width="173" valign="top" bgcolor="#E0E1E3" align="center">