<!-- Esta tabla contiene el menu y su linea roja inferior -->
<table width="957" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td class="panelControl">Panel de Control</td>
		<td class="menuTd">{MENU}</td>
		<td class="sectionName" >Inicio</td>
	</tr>
	<tr>
		<td bgcolor="{LIGHTCOLOR}" height="6" colspan="3"></td>
	</tr>
</table>
<div id="welcomeScreen">
<table width="957" height="550" align="center">
	<tr height="120"><td><br/><br/><br/><br/>
    </td>
	</tr>
	<tr height="170"><td> 
			<!-- Aqui debe ir el contenido principal -->
			<table style="height:400px; width:622px;"  align="center">
				<tr height="110">
					<td valign="top" class="Three-Dee" align="center">
					BIENVENIDO AL SISTEMA WEB DE REFRISERVICIO Y  <br/>
					AIRE ACONDICIONADO PARA EL TRANSPORTE S.A. DE C.V.  PARA EL CONTROL DE MANTENIMIENTOS DE UNIDADES. 
				</tr>
				<tr style="height:250px;">  
					<td valign="top" class="Three-Dee2">
						<p>Este Panel de Control cuenta con un eficiente sistema de navegaci&oacute;n,  el cual le facilitar&aacute; el proceso administrativo que realice.</p>
						<p>Sea usted bienvenido al Sistema Web Refribus.</p>
						<p>Esperamos que su estad&iacute;a en nuestro sistema sea grata.</p>
					</td>
				</tr>
			</table></td>
	</tr>
</table>
</div>
<!-- Aqui se termina el contenido principal -->