<div class="dock" id="dock">   	
	<div class="dock-container">   		
		
		<a class="dock-item" href="{DIR}index.php">			
			<img src="{DIR}imagenes/images/INICIO.png" alt="Inicio" />			
			<span class="menutxt">Inicio 			
			</span>
		</a>     		
		
		<a class="dock-item" href="{DIR}users/userAdmin.php">			
			<img src="{DIR}imagenes/images/USUARIOS.png" alt="Administrar Usuarios" />			
			<span class="menutxt">Usuarios 			
			</span>
		</a>
		     		
		<a class="dock-item" href="{DIR}clientesadmin/clientesadmin.php">			
			<img src="{DIR}imagenes/images/clientes.png" alt="Clientes" />			
			<span class="menutxt">Clientes
			</span>
		</a>   		
		
		<a class="dock-item" href="{DIR}talleresadmin/talleresadmin.php">			
			<img src="{DIR}imagenes/images/talleres.png" alt="Talleres" />			
			<span class="menutxt">Talleres
			</span>
		</a>        		
		
		<a class="dock-item" href="{DIR}UnitsAdmin/unitsadmin.php">			
			<img src="{DIR}imagenes/images/unidades_ico_menu.png" alt="Administrar Unidades" />			
			<span class="menutxt">Unidades			
			</span>
		</a>
		   		
		<a class="dock-item" href="{DIR}ArticlesAdmin/articlesadmin.php">	
			<img src="{DIR}imagenes/images/articulos_ico_menu02.png" alt="Administrar Articulos" />			
			<span class="menutxt">Articulos			
			</span>
		</a>
		
		<a class="dock-item" href="{DIR}tecnicosadmin/tecnicosadmin.php">	
			<img src="{DIR}imagenes/images/tecnicos.png" alt="Administrar T&eacute;cnicos" />			
			<span class="menutxt">T&eacute;cnicos			
			</span>
		</a>
		
		<a class="dock-item" href="{DIR}ordenesadmin/ordenesadmin.php">			
			<img src="{DIR}imagenes/images/order_icon.png" alt="Ordenes de trabajo" />			
			<span class="menutxt">Ordenes de trabajo			
			</span>
		</a>
        
        <a class="dock-item" href="{DIR}exportacion/ordenesexportadmin.php">			
			<img src="{DIR}imagenes/images/informes.png" alt="Reportes" />			
			<span class="menutxt">Reportes			
			</span>
		</a>
        
        <!--<a class="dock-item" href="{DIR}reportes/reportesadmin.php">			
			<img src="{DIR}imagenes/images/reportes.jpg" alt="Estad&iacute;sticas y Reportes Generales" />			
			<span class="menutxt">Reportes		
			</span>
		</a>-->
		
		<a class="dock-item" href="{DIR}configuration/configuration.php">			
			<img src="{DIR}imagenes/images/configuration.gif" alt="Configuraci&oacute;n" />			
			<span class="menutxt">Configuraci&oacute;n			
			</span>
		</a>

		<a class="dock-item" href="{DIR}config/logout.php">			
			<img src="{DIR}imagenes/images/SALIR.png" alt="Cerrar Sesion" />			
			<span class="menutxt">Salir 			
			</span>
		</a>
		  	
	</div>
</div>