
<table cellpadding="0" cellspacing="0">

	<tr>
		<td><img src="imagenes/ultNoticias_top.jpg"/>
		</td>
	</tr>

	<tr>
		<td height="10" bgcolor="#636261" class="greyTxt" style="padding-left:700px;">Fecha
		</td>
	</tr>

	<tr>
		<td><img src="imagenes/ultNoticias_content_top.jpg" width="788" height="8"/>
		</td>
	</tr>


<!-- table -->

	<tr>
		<td height="77" background="imagenes/ultNoticias_content_bg.jpg" valign="top">
			<table cellpadding="0" cellspacing="0">  
				<tr>
					<td >
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td style="padding-left:20px; padding-right:6px;"><img src="imagenes/bullitPoint.jpg"/>
								</td>
								<td width="625" class="greyTxt" >
								{PREVIS}
								</td>
								
								<td width="25">
								</td>
								
								<td align="center" class="greyTxt" width="55">
								{FECHA}
								</td>
							</tr>							
						</table>

					</td>
				</tr>

				<tr>
					<td style="padding-left:20px;">
						<table>
							<tr>
								<td height="1" width="625" >
								</td>
								
								<td height="1" width="25" >
								</td>
								
								<td height="1" width="55" >
								</td>

							</tr>
							
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td>
			<img src="imagenes/ultNoticias_content_end.jpg" width="788" height="12"/>
		</td>
	</tr>

	<tr>
		<td>
			<img src="imagenes/ultNoticias_bottomEnd.jpg"/>
		</td>
	</tr>
	
</table>


