
		<table width="700" cellpadding="0" cellspacing="0">

			<tr>

				<td bgcolor="#9b9b99" width="730" style="padding:10px;">
					
					<div>
						<img class="borderImg" src="media/{IMAGEN}" width="316" height="237" align="right" style="margin-right:0px; margin-left:10px;">
					</div>  
  
  					<div class="newsTitleImg" style="vertical-align:top; margin-right:0px; text-align:left;">
						<span class="linesListWhiteBold">{TITULO}</span> 
					</div>
					
					<p align="justify" >
    					<span class="linesListWhite">{CONTENIDO}</span>
					</p>  					
  					
				</td>
				
			</tr>

			<tr>
				<td bgcolor="#555352" height="21"></td>
			</tr>

			
		</table>




