<!-- Esta tabla contiene el menu y su linea roja inferior -->
<table width="959" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="150" style="color:#E1E1E1; font-size:14px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:10px;" bgcolor="#444444">Panel de Control</td>
		<td bgcolor="#444444" width="600" >{MENU} </td>
		<td width="150" style="color:#E1E1E1; font-size:14px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;" bgcolor="#444444">Secci&oacute;n Roles</td>
	</tr>
	<tr>
		<td bgcolor="{LIGHTCOLOR}" height="6" colspan="3"></td>
	</tr>
</table>

<!-- Aqui se termina el menu y la linea -->
<table width="957" height="600" align="center" class="blurbackg">
	<tr height="90"><td></td>
	</tr>
	<tr><td> 
			<!-- Aqui debe ir el contenido principal -->
			<table width="450" align="center" cellpadding="0" cellspacing="0" >
				<tr>
					<td valign="top">
						<table class="toptable">
							<tr>
								<th>
									<a href="../index.php">
										<img src="{DIR}imagenes/arrow_btn.png" border="0" style="margin-right:3px;" /></a>
								</th>  
								<td style="vertical-align:middle; text-align:center;">  En Esta Secci&oacute;n Podr&aacute;s Consultar los Roles de Usuario Registrados</td>
							</tr>
						</table>
						<table class="userinfo">	
							<tr>
							  <td>Viendo Listado de Roles</td>
							</tr>
						</table>
						
						<table style="width:100%;" cellpadding="0" cellspacing="0" align="center">		  
							<tr>	   		  
								<td class="btnspacer" width="508"></td>		  
								<td class="rightbtn">
									<a href="rolesform.php?mode=add">Agregar </a></td>		  
							</tr>	
						</table>
						
						<table style="width:100%;" cellspacing="0" cellpadding="0" align="center">	
							<tr>		
								<td class="smalltitle" style="width:120px;">Roles</td>		

							</tr>
						</table>
						<table width="650" align="center" cellpadding="0" cellspacing="0">{CONTENT} 	
							<table class="bottmspacer">		
								<tr><td>{PAGING}</td>
								</tr>	
							</table>	
							<table style="width:100%;" cellpadding="0" cellspacing="0" align="center">		  
								<tr>	   		  
									<td class="btnspacer" width="508"></td>		  
									<td class="rightbtn">
										<a href="rolesform.php?mode=add">Agregar </a></td>		  
								</tr>	
							</table>
						</table><br /><br /><br /></td>
				</tr>
				<tr height="40"><td>&nbsp;</td>
				</tr>
			</table> 
			<!-- Aqui se termina el contenido principal -->