
		<table width="700" cellpadding="0" cellspacing="0">

			<tr>
				<td bgcolor="#555352" height="15"></td>
			</tr>

			<tr>
				<td  bgcolor="#9b9b99">
					<table cellpadding="6" cellspacing="0">  
						
						<tr height="150">
							
							<td width="190" valign="top" align="left" style="padding-left:15px;padding-top:10px;">
								<img src="media/{IMAGEN}" width="188" height="141" class="borderImg">
							</td>

							<td valign="top" style="padding-right:15px;">
								<table cellpadding="0" cellspacing="0">
									
									<tr height="20">
										<td width="700" class="linesListWhiteBold">
											<div align="left">{TITULO} 
											</div>
										</td>										
									</tr>
									
									<tr height="100">
										<td class="linesListWhite" style="padding-top:5px;" valign="top">
											<div align="justify">{CONTENIDO}
											</div>
										</td>
									</tr>
									
									<tr height="30">
										<td style="padding-top:10px;">
											<div align="right">
												<a href="noticia.php?id={IDNOTICIA}" border="0">
												<img src="../imagenes/verMasBtn.jpg"/>
												</a>
											</div>
										</td>
									</tr>
									
								</table>								
							</td>

						</tr>
					</table></td>
			</tr>

			
		</table>




